<form class="example-form" [formGroup]="loginForm" (ngSubmit)= "OnSubmit()">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="User Name" name="username" formControlName="username">
        
        <mat-error *ngIf="loginForm.get('username').hasError('required')">
        UserName is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" name="password"  formControlName="password" type="password">
      <mat-error *ngIf="loginForm.get('password').hasError('required')">
        Password is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email Id" name="emailId" formControlName="emailId">
        <mat-error *ngIf="loginForm.get('emailId').hasError('required')">
        Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="loginForm.get('emailId').hasError('email') && !loginForm.get('emailId').hasError('required')">
        Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <button mat-button type="submit" class="submitButton" [disabled]="!loginForm.valid">Submit</button>

</form>