<mat-toolbar>Welcome to the Home Page! {{userName}}</mat-toolbar>
<form class="example-form" [formGroup]="dataForm" (ngSubmit)= "OnSubmit()" *ngIf="!submitted">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="First Name" name="firstname" formControlName="firstname">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Last Name" name="lastname" formControlName="lastname">
    </mat-form-field>
    <mat-radio-group aria-label="Gender" name="gender" formControlName="gender">
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
    </mat-radio-group>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Institution Name" name="iname" formControlName="iname">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Designation" name="desg" formControlName="desg">
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
        <mat-label >Expected Salary</mat-label>
        <mat-select name="sal" formControlName="sal">
            <mat-option *ngFor="let sal of Salary" [value]="sal">
            {{sal}}
            </mat-option>
        </mat-select>
    </mat-form-field>
            
    <button mat-button type="submit" class="submitButton" >Submit</button>

</form>
<div *ngIf="submitted">
    <mat-card>FIRST NAME : {{dataForm.value.firstname}}</mat-card>
    <mat-card>LAST NAME : {{dataForm.value.lastname}}</mat-card>
    <mat-card>GENDER : {{dataForm.value.gender}}</mat-card>
    <mat-card>INSTITUTION NAME : {{dataForm.value.iname}}</mat-card>
    <mat-card>DESIGNATION : {{dataForm.value.desg}}</mat-card>
    <mat-card>EXPECTED SALARY : {{dataForm.value.sal}}</mat-card>
    
</div>

